interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/jlrg/providers/Microsoft.Devices/IotHubs/jliothub0330/listkeys?api-version=2019-07-01-preview
  response:
    body:
      string: '{"value":[{"keyName":"iothubowner","primaryKey":"chkjyUT38Q3bVKG9uHoxQd5OcDWHSOBcy21L+w4f9Ps=","secondaryKey":"ZOIWtXfwRvD8Ce1byqhiLS15KFdAy4p/EeqJsvSybQs=","rights":"RegistryWrite,
        ServiceConnect, DeviceConnect"},{"keyName":"service","primaryKey":"r+en2QaDeQ1nIsM/0Dep94/gToFoa7Ic7g5coK4vcJE=","secondaryKey":"4c4bea5NcTS7FXFdQ+8ZeaiIiv2RSqIgrkyvXX9GEY4=","rights":"ServiceConnect"},{"keyName":"device","primaryKey":"gb+wBn3vuwJ/Fva+7HKi6KJ1HTGuJ8kFbZ5n0gUd2i4=","secondaryKey":"+LVgppi8usQq8fBvkP9gPg9YnqecDozT4MAJoj9Dkqw=","rights":"DeviceConnect"},{"keyName":"registryRead","primaryKey":"17y+3Ni8UYsJY/rW2JKloaiwEKHE5Wm2WOn0hnpe4UY=","secondaryKey":"Fc7jTq2LXoJ6sHMHtazcQgMEK+Ok18VGDc/WJ2Gn24Y=","rights":"RegistryRead"},{"keyName":"registryReadWrite","primaryKey":"7sx6aTgfMxCS25VlxT8Ibr3AVoo1M3LfOojPM1THwi0=","secondaryKey":"HfVe7T1smpB/W3Phh+w9mRqdc08KKvdCBHpdkvZwaN0=","rights":"RegistryWrite"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "kind": "Microsoft.IoTHub", "properties": {"timestampPropertyName":
      "DeviceId", "eventSourceResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/jlrg/providers/Microsoft.Devices/IotHubs/jliothub0330",
      "iotHubName": "jliothub0330", "consumerGroupName": "$Default", "keyName": "iothubowner",
      "sharedAccessKey": "chkjyUT38Q3bVKG9uHoxQd5OcDWHSOBcy21L+w4f9Ps="}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/jlrg/providers/Microsoft.TimeSeriesInsights/environments/env1/eventSources/es2?api-version=2018-08-15-preview
  response:
    body:
      string: '{"kind":"Microsoft.IoTHub","location":"westus","tags":null,"properties":{"timestampPropertyName":"DeviceId","eventSourceResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/jlrg/providers/Microsoft.Devices/IotHubs/jliothub0330","iotHubName":"jliothub0330","consumerGroupName":"$Default","keyName":"iothubowner","creationTime":"Mon,
        30 Mar 2020 10:39:44 GMT","provisioningState":"Succeeded"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/jlrg/providers/Microsoft.TimeSeriesInsights/environments/env1/eventsources/es2","name":"es2","type":"Microsoft.TimeSeriesInsights/Environments/EventSources"}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/jlrg/providers/Microsoft.TimeSeriesInsights/environments/env1/eventSources?api-version=2018-08-15-preview
  response:
    body:
      string: '{"value":[{"kind":"Microsoft.IoTHub","location":"westus","tags":null,"properties":{"timestampPropertyName":"DeviceId","eventSourceResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/res[...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/jlrg/providers/Microsoft.TimeSeriesInsights/environments/env1/eventSources/es2?api-version=2018-08-15-preview
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14998'
    status:
      code: 200
      message: OK
version: 1
