interactions:
- request:
    body: '{"properties": {"principalObjectId": "001", "description": "some description",
      "roles": ["Reader"]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/jlrg/providers/Microsoft.TimeSeriesInsights/environments/env1/accessPolicies/ap1?api-version=2018-08-15-preview
  response:
    body:
      string: '{"properties":{"principalObjectId":"001","description":"some description","roles":["Reader"]},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/jlrg/providers/Microsoft.TimeSeriesInsights/environments/env1/accesspolicies/ap1","name":"ap1","type":"Microsoft.TimeSeriesInsights/Environments/AccessPolicies"}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/jlrg/providers/Microsoft.TimeSeriesInsights/environments/env1/accessPolicies?api-version=2018-08-15-preview
  response:
    body:
      string: '{"value":[{"properties":{"principalObjectId":"001","description":"some
        description","roles":["Reader"]},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/jlrg/providers/Microsoft.TimeSeriesInsights/environments/env1/accesspolicies/ap1","name":"ap1","type":"Microsoft.TimeSeriesInsights/Environments/AccessPolicies"}]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/jlrg/providers/Microsoft.TimeSeriesInsights/environments/env1/accessPolicies/ap1?api-version=2018-08-15-preview
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 200
      message: OK
version: 1
